<form action="/home/create" method="post">
    <input type="radio" name="inOut" value="in">수입
    <input type="radio" name="inOut" value="out">지출
    <div>
        금액 : <input name="amount" type="text">
    </div>
    <div>
        내용 : <textarea name="content"></textarea>
    </div>
    <input type="submit" value="입력완료">
</form>